:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%);
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

main {
    max-width: 969px;
    margin: auto;
}

.imagen img {
    width: 100%;
}

.titulo-ingrediente {
    color: var(--Gray-1, #333);
    font-family: Playfair Display;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

section.ingredientes {
    display: grid;
    grid-template-columns: 1fr 230px;
}



.cuadrado {
    width: 21px;
    height: 21px;
    border-radius: 4px;
    border: 1px solid var(--Gray-3, #828282);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    margin-top: 18px;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    margin-left: 31px;
    width: 554px;
    color: var(--Gray-1, #333);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
}

p {
    color: var(--Gray-1, #333);
    font-family: Playfair Display;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.cuadrado-seccion {
    width: 21px;
    height: 21px;
    border-radius: 4px;
    border: 1px solid var(--Gray-3, #828282);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    margin-top: 18px;
    padding: 0;
}

.cuadrado-seccion h3 {
    padding-top: 46px;
}

h2 {
    margin-top: 50px;
    color: var(--Gray-1, #333);
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cuadrado-dos {
    display: -webkit-box;
}

.cuadrado-dos h2 {
    width: 36px !important;
    height: 36px;
    border-radius: 4px;
    border: 1px solid var(--Gray-3, Orange);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    margin-top: 18px;
    padding: 0;
    background-color: orange;
    text-align: center;
    color: #FFF;
}


.cuadrado-dos p {
    margin-left: 20px;
    color: var(--Gray-1, #333);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 156.25% */
    align-items: center;
}

aside {
    width: 216px;
    height: 367px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.18);
    margin-top: 15px;
    padding: 40px;
}

.porsion {
    padding-left: 35px;
    display: flex;
}

.porsion img {
    width: 30px;
    height: 30px;

}

.texto-menu p {
    margin: 0;
    display: flex;
    color: var(--Gray-4, #BDBDBD);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: Gray 4;
}

.texto-menu h4 {
    margin: 0;
    display: flex;
    color: orange;
}

.tiempo {
    padding-left: 35px;
    display: -webkit-box;
    padding-top: 25px;
}

.tiempo img {
    width: 30px;
    height: 30px;
}

.texto-menu-time p {
    margin: 0;
    display: flex;
    color: var(--Gray-4, #BDBDBD);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: Gray 4;
}

.texto-menu-time h4 {
    margin: 0;
    display: flex;
    color: Gray 1;
}
@media (max-width: 768px) {

    main {
        padding: 10px;
    }

    section.ingredientes {
        display: grid;
        grid-template: none;
    }

    aside {
        height: auto;
        width: 100%;
        order: -1;
    }

    li.toques-ingr {
        display: flex;
    }

    h3 {
        margin-left: 7px;
        width: 100%;
    }

    aside {
        width: 100%;
        height: auto;
        padding: 0px;
    }

    ul.menu li{
        padding: 10px;
    }

    ul.menu li img{
        margin-right: 7px;
    }

    .porsion {
        display: flex;
    }

    .porsion img {
        margin-right: 5px;
    }

  }