---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="main-texto">

        <h1>Classic Cheesecake Recipe</h1>
        <p>
          Look no further for a creamy and ultra smooth classic cheesecake
          recipe! Paired <br /> with a buttery graham cracker crust, no one can
          deny its simple decadence. For <br /> the best results, bake in a
          water bath.
        </p>

    </section>
    <section class="imagen"><img src="./public/photo1.png" alt="" /></section>
    <section class="ingredientes">
      <div class="ingredientes-contenedor">
		<div class="titulo-ingrediente">
		  <h1>INGREDIENTS</h1>
		  <p>Graham Cracker Crust</p>
		</div>
		<article class="lista-ingredientes">
      <ul>
        <li class="toques-ingr">
          <div class="cuadrado"><h3>1 and 1/2 cups (150g) graham cracker crumbs (about 10 full sheet graham crackers)</h3></div>
        </li>
        <li class="toques-ingr">
          <div class="cuadrado"><h3>5 Tablespoons (70g) unsalted butter, melted</h3></div>
        </li>
        <li class="toques-ingr">
          <div class="cuadrado"><h3>1/4 cup (50g) granulated sugar</h3></div>
        </li>
      </ul>
      <p>Cheesecake</p>
    </article>

	  </div>
	  <aside></aside>
    </section>
  </main>
</Layout>
