---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="main-texto">

        <h1>Classic Cheesecake Recipe</h1>
        <p>
          Look no further for a creamy and ultra smooth classic cheesecake
          recipe! Paired <br /> with a buttery graham cracker crust, no one can
          deny its simple decadence. For <br /> the best results, bake in a
          water bath.
        </p>

    </section>
    <section class="imagen"><img src="./public/photo1.png" alt="" /></section>
    <section class="ingredientes">
      <div class="ingredientes-contenedor">
		<div class="titulo-ingrediente">
		  <h1>INGREDIENTS</h1>
		  <p>Graham Cracker Crust</p>
		</div>
		<article class="lista-ingredientes"></article>
	  </div>
	  <aside>gdfgdgdfg</aside>
    </section>
  </main>
</Layout>
