---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="main-texto">
      <h1>Classic Cheesecake Recipe</h1>
      <p>
        Look no further for a creamy and ultra smooth classic cheesecake recipe!
        Paired <br /> with a buttery graham cracker crust, no one can deny its
        simple decadence. For <br /> the best results, bake in a water bath.
      </p>
    </section>
    <section class="imagen"><img src="./public/photo1.png" alt="" /></section>
    <section class="ingredientes">
      <div class="ingredientes-contenedor">
        <div class="titulo-ingrediente">
          <h1>INGREDIENTS</h1>
          <p>Graham Cracker Crust</p>
        </div>
        <article class="lista-ingredientes">
          <ul>
            <li class="toques-ingr">
              <div class="cuadrado">
                <h3>
                  1 and 1/2 cups (150g) graham cracker crumbs (about 10 full
                  sheet graham crackers)
                </h3>
              </div>
            </li>
            <li class="toques-ingr">
              <div class="cuadrado">
                <h3>5 Tablespoons (70g) unsalted butter, melted</h3>
              </div>
            </li>
            <li class="toques-ingr">
              <div class="cuadrado">
                <h3>1/4 cup (50g) granulated sugar</h3>
              </div>
            </li>
          </ul>
          <section class="lista-dos">
            <p>cheesecake</p>
            <ul>
              <li>
                <div class="cuadrado">
                  <h3>
                    four 8-ounce blocks (904g) full-fat cream cheese, softened
                    to room temperature
                  </h3>
                </div>
              </li>
              <li>
                <div class="cuadrado">
                  <h3>1 cup (200g) granulated sugar</h3>
                </div>
              </li>
              <li>
                <div class="cuadrado">
                  <h3>1 cup (240g) full-fat sour cream, at room temperature</h3>
                </div>
              </li>
              <li>
                <div class="cuadrado">
                  <h3>1 teaspoon pure vanilla extract</h3>
                </div>
              </li>
              <li>
                <div class="cuadrado">
                  <h3>
                    2 teaspoons fresh lemon juice (optional, but recommended)
                  </h3>
                </div>
              </li>
              <li>
                <div class="cuadrado">
                  <h3>3 large eggs, at room temperature</h3>
                </div>
              </li>
              <li>
                <div class="cuadrado-seccion">
                  <h3>
                    topping suggestions: salted caramel, lemon curd, strawberry
                    topping, chocolate ganache, red wine chocolate ganache,
                    fresh fruit, whipped cream, or raspberry sauce (recipe in
                    notes)
                  </h3>
                </div>
              </li>
            </ul>
          </section>
        </article>
      </div>
      <aside></aside>
      <section class="intrucciones">
        <h2>Instructions</h2>
        <ul>
          <li>
            <div class="cuadrado-dos">
              <h2>1</h2>
              <p>
                Adjust the oven rack to the lower-middle position and preheat
                oven to 350°F (177°C).
              </p>
            </div>
          </li>
          <li>
            <div class="cuadrado-dos">
              <h2>2</h2>
              <p>
                Make the crust: Using a food processor, pulse the graham crackers into crumbs. Pour into a medium bowl and stir in sugar and melted butter until combined. (You can also pulse it all together in the food processor.) Mixture will be sandy. Press firmly into the bottom and slightly up the sides of a 9-inch or 10-inch springform pan. No need to grease the pan first. I use the bottom of a measuring cup to pack the crust down tightly. Pre-bake for 8 minutes. Remove from the oven and place the hot pan on a large piece of aluminum foil. The foil will wrap around the pan for the water bath in step 4. Allow crust to slightly cool as you prepare the filling.
              </p>
            </div>
            <li>
              <div class="cuadrado-dos">
                <h2>3</h2>
              </div>
              <li>
                <div class="cuadrado-dos">
                  <h2>4</h2>
                </div>
                <li>
                  <div class="cuadrado-dos">
                    <h2>5</h2>
                  </div>
                  <li>
                    <div class="cuadrado-dos">
                      <h2>6</h2>
                    </div>
                    <li>
                      <div class="cuadrado-dos">
                        <h2>7</h2>
                      </div>
                    </li>
                  </li>
                </li>
              </li>
            </li>
          </li>
        </ul>
      </section>
    </section>
  </main>
</Layout>
